<p-menubar [model]="items" class="mb-4 shadow-2 border-round-xl surface-100 px-3 py-2">
    <!-- Lijeva strana: Logo + naziv -->
    <ng-template pTemplate="start">
        <a class="flex align-items-center gap-2 text-decoration-none" routerLink="/">
            <img src="assets/logo.png" alt="Logo" height="40" />
            <!-- Sakrij naziv kad ekran bude manji od md -->
            <span class="font-bold text-xl text-primary-800 hidden md:inline">Pogrebno poduzeće Benjak</span>
          </a>
          
  
    </ng-template>
  
    <!-- Desna strana: Avatar + košarica -->
    <ng-template pTemplate="end">
      <div class="flex align-items-center gap-2">
        <button pButton icon="pi pi-user" class="p-button-rounded p-button-text text-primary-700" label="Prijava"></button>
        <button pButton icon="pi pi-shopping-cart" class="p-button-rounded p-button-text text-primary-700"></button>
      </div>
    </ng-template>
  </p-menubar>
  