<div class="relative">
  <app-loader
    *ngIf="isSubmitting"
    message="Spremanje..."
    class="absolute inset-0 z-50 flex justify-center items-center px-4 py-10"
    style="background-color: rgba(255,255,255,0.85); border-radius: 0.5rem;">
  </app-loader>

  <form [formGroup]="form"
        (ngSubmit)="submit()"
        class="p-fluid"
        [class.opacity-30]="isSubmitting"
        [class.pointer-events-none]="isSubmitting">

    <div class="field mb-3">
      <label class="block text-sm font-medium text-gray-700 mb-1">Naziv materijala</label>
      <input pInputText formControlName="name" class="w-full" />
    </div>

    <div class="field mb-3">
      <label class="block text-sm font-medium text-gray-700 mb-1">Boja (HEX)</label>
      <input pInputText formControlName="colorHex" type="color" class="w-full" />
    </div>

    <div class="field mb-3">
      <label class="block text-sm font-medium text-gray-700 mb-1">Cijena (EUR/m²)</label>
      <p-inputNumber inputId="price" formControlName="pricePerM2" mode="decimal" [minFractionDigits]="2" class="w-full" />
    </div>

    <div class="field mb-3">
      <label class="block text-sm font-medium text-gray-700 mb-1">Dostupan</label>
      <p-checkbox formControlName="isAvailable" binary="true"></p-checkbox>
    </div>

    <div class="field mb-3">
      <label class="block text-sm font-medium text-gray-700 mb-1">Tekstura (slika)</label>
      <div [class.bg-blue-50]="isDragging" class="dropzone border-2 border-dashed border-gray-300 rounded p-4 text-center cursor-pointer"
          (click)="fileInput.click()"
          (dragover)="onDragOver($event)"
          (dragleave)="onDragLeave($event)"
          (drop)="onDrop($event)">
        Klikni ili povuci sliku ovdje
        <input type="file" (change)="onFileSelected($event)" accept="image/*" hidden #fileInput />
        <div class="mt-3" *ngIf="currenttextureUrl">
          <img [src]="currenttextureUrl" class="mt-2 w-full h-5rem border-1 border-300 border-round object-cover" />
        </div>
      </div>
    </div>

    <div class="flex justify-content-end gap-2 mt-4">
      <button pButton type="button" label="Odustani" class="p-button-outlined" (click)="close.emit(false)"></button>
      <button pButton type="submit" label="Spremi" icon="pi pi-check" class="p-button-success"></button>
    </div>
  </form>
</div>
